.dropdown-container {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    list-style: none;
    z-index: 1;
    
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-item {
    cursor: pointer;
    display: flex;
    align-items: center;

    padding: 12px 16px;

}

.dropdown-item:hover {
    background-color: #ddd;
}

.dropdown-item a {
    text-decoration: none;
    color: black;
}

.dropdown-btn {
    cursor: pointer;

    /* background-color: #3498DB; */
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* At botton bcs of precedence */
.show {
    display: block;
}