svg {
    width: 32px;
}

* {
    margin: 0;
    padding: 0;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--light);
    color: var(--dark);

    --bg-dark: #001f54;
    --bg-light: #70a2ff;
    --bg: #034078;
    --dark: #1c2541;
    --highlight: #2f4550;
    --light: #fefcfb;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.app-logo {
    font-size: 1.4rem;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.search-form button {
    width: 4rem;
    height: 3.2rem;
    display: grid;
    place-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-search svg {
    width: 36px;
}
.search-form button:hover,
.search-form button:focus {
    background-color: var(--bg-light);
    fill: var(--light);
}

.search-form input {
    width: 60ch;
    padding: .4rem 1.2rem;
    font-size: 1.4rem;
    border-radius: 1.5rem;
}

.search-form input:focus {
    box-shadow: inset 3px 3px 4px 0 #eee;
    outline: none;
}

main {
    flex: 1;

    display: grid;
    grid-template-columns: minmax(500px, 2fr) minmax(500px , 3fr);
    grid-template-rows: minmax(300px, 360px) minmax(auto, 300px);
    grid-template-areas: 
        'summary details'
        'week week';
    gap: 1rem;
    padding: 1rem 2rem 2rem;
    
}

.icon {
    user-select: none;
    color: var(--highlight)
}


.summary-container,
.details-container,
.week-day {
    border-radius: 1rem;
    padding: 1rem;

}

.summary-container {
    grid-area: summary;
    display: grid;
    grid-template-columns: minmax(220px,2fr) 3fr;
    grid-template-rows: auto auto 2fr 1fr 1fr;

    font-weight: 900;

}

.summary .weather-icon {
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    align-self: center;

    padding: 0 0 2rem 0;
    text-align: center;
}

.summary .weather-icon img {
    max-width: 14rem;
    max-height: 14rem;
    height: auto;
}

.summary .resolved-address {
    grid-column: 1 / -1;
    grid-row: 1;

    font-size: 1.4rem;
    font-weight: 900;
}


.summary .datetime {
    grid-column: 1 / 2;
    grid-row: 2;


    font-size: 1.1rem;
}

.summary .temp {
    grid-column: 1 / 2;
    grid-row: 3;

    align-self: end;

    font-size: 4rem;
    font-weight: 900;
}

.summary .feelslike {
    grid-column: 1 / 2;
    grid-row: 4;

}

.summary .conditions {
    grid-column: 1 / 2;
    align-self: center;
    font-size: 1.2rem;
}

.details-container {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.details-container .description {
    grid-column: 1 / -1;
    grid-row: 1;

    font-size: 1.2rem;
    align-self: center;
}

.details-container > div {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-areas: 
        "det-icon det-header"
        "det-icon det-value";
}

.details-container header {
    grid-area: det-header;
    font-weight: 900;
    align-self: end;
}

.details-container p {
    grid-area: det-value;
    min-width: max-content;
}

.details-container .icon {
    grid-area: det-icon;
    align-self: center;
    justify-self: center;
    padding: .4rem;
}
.details-container i {
    font-size: 3.5rem;
}

.days-container {
    grid-area: week;
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: max-content;
}

.week-day {
    display: grid;
    grid-template-rows: max-content 5rem min-content;
    gap: .5rem;
    justify-items: center;
    align-items: center;
}

.week-day .day {
    min-width: max-content;
    font-size: 1.2rem;
    font-weight: 900;
}

.week-day .conditions {
    text-align: center;
}

.week-day .icon {
    height: 4rem;
}



body:has(dialog[open]) {
    filter: blur(4px);
}

dialog {
    align-self: center;
	justify-self: center;

    padding: 1.2rem;
    border: none;
    border-radius: 1rem;
}

dialog button {
    display: block;
    margin-top: .4rem;
    margin-left: auto;

    padding: .4rem 1.4rem;
    background-color: lightskyblue;
    color: white;
    outline: none;
    border:none;
    border-radius: .5rem;
}