svg {
    width: 24px;
}

* {
    /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bg2);
    color: var(--dark);

    --bg: #dbeafe;
    --bg2: #afbff5;
    --bg3: #e5eff3;
    --dark: #09090b;
}

body > header {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    padding: 0 1rem;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: 
        'summary details'
        'week week';
    gap: 1rem;
    padding: 1rem;
    
}
.summary-container,
.details-container,
.week-day {
    background-color: var(--bg3);
    border-radius: 1rem;
    padding: 1rem;

}

.summary-container {
    grid-area: summary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content min-content min-content;

}

.details-container {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
    
}

.week-container {
    grid-area: week;
    display: flex;
    gap: 1rem;
}

.week-day {
    flex: 1;
}

.resolved-address {
    grid-column: 1 / -1;

    font-size: 1.4rem;
    font-weight: 900;
}

.weather-icon.summary {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    padding: .8rem 0 0 0;
    text-align: center;
}

.weather-icon.summary i {
    font-size: 5rem;
}
.temp {
    grid-column: 1 / 2;


    font-size: 3rem;
    font-weight: 900;
}

.datetime {
    grid-column: 1 / 2;

}

.conditions {
    grid-column: 1 / 2;
}

.description {
    grid-column: 1 / -1;
}

.minmax {
    grid-column: 1 / 3;
    display: flex;
}
