svg {
    width: 24px;
}

* {
    /* outline: 2px solid red; */
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg2);
    color: var(--dark);

    --bg: #dbeafe;
    --bg2: #afbff5;
    --bg3: #e5eff3;
    --dark: #09090b;
}

body > header {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    padding: 0 2rem;
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(600px, 1fr) minmax(800px , 2fr);
    grid-template-rows: minmax(auto, 2fr) minmax(auto, 1fr);
    grid-template-areas: 
        'summary details'
        'week week';
    gap: 1rem;
    padding: 1rem 2rem 2rem;
    
}

.summary-container,
.details-container,
.week-day {
    background-color: var(--bg3);
    border-radius: 1rem;
    padding: 1rem;

}

.summary-container {
    grid-area: summary;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 2fr 1fr 1fr;

    font-weight: 900;

}

.summary .weather-icon {
    grid-column: 2 / -1;
    grid-row: 2 / -1;

    padding: .8rem 0 0 0;
    text-align: center;

}

.summary .weather-icon i {
    font-size: 5rem;
}

.summary .resolved-address {
    grid-column: 1 / -1;
    grid-row: 1;

    font-size: 1.4rem;
    font-weight: 900;
}


.summary .datetime {
    grid-column: 1 / 2;
    grid-row: 2;


    font-size: 1.1rem;
}

.summary .temp {
    grid-column: 1 / 2;
    grid-row: 3;

    align-self: end;

    font-size: 4rem;
    font-weight: 900;
}

.summary .feelslike {
    grid-column: 1 / 2;
    grid-row: 4;

}

.summary .conditions {
    grid-column: 1 / 2;
    align-self: center;
    font-size: 1.2rem;
}

.details-container {
    grid-area: details;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

.details-container .description {
    grid-column: 1 / -1;
    grid-row: 1;

    font-size: 1.2rem;
    align-self: center;
}

.details-container > div {
    display: grid;
    grid-template-columns: 6rem 1fr;
    grid-template-areas: 
        "det-icon det-header"
        "det-icon det-value";
}

.details-container header {
    grid-area: det-header;
    font-weight: 900;
    align-self: end;
}

.details-container p {
    grid-area: det-value;
}

.details-container .icon {
    grid-area: det-icon;
    align-self: center;
    justify-self: center;
    padding: .4rem;
}
.details-container i {
    font-size: 3.5rem;
}

.week-container {
    grid-area: week;
    display: flex;
    gap: 1rem;
}

.week-day {
    flex: 1;
    display: grid;
    gap: .4rem;
    justify-items: center;
    align-items: center;
}

.week-day .day {
    font-size: 1.2rem;
    font-weight: 900;
}

.week-day .icon {
    height: 4rem;
}


